<section class="container" *ngIf="cities">
  <div class="container">
  <mat-card class="header">
    <h1 class="text-center">Buy Qualified Deals for the Services you provide</h1>
    <p class="text-center">Being a service provider for specific Business Services you can "Buy Deals" which are "Qualified leads" of Business Owners.</p>
  </mat-card><br>
  <mat-card class="search">
    <form>
          <mat-form-field>
            <mat-select placeholder="Country"  name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                <span>{{food.viewValue}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field>
            <mat-select floatPlaceholder="always" placeholder="City" (change)="getServices($event.value)" [(ngModel)]="cityName" name="city">
              <mat-option *ngFor="let city of cities" [value]="city.CityName">
                <span>{{city.CityName}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field> 

          <mat-form-field>
              <mat-select placeholder="Services" name="serivice">
                <mat-option *ngFor="let service of services" [value]="service.serviceName">
                  <span>{{service.serviceName}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary">Search</button>
    </form>
  </mat-card>
  </div>
</section>