<section class="container">
<h1 class="text-center">Our Services</h1>
<div class="row wow fadeInLeftBig">
<a href="#"><mat-card class="ServiceCard">
  <p><i class="fa fa-tty fa-2x" aria-hidden="true"></i> Telemarketing</p>
</mat-card></a>
<a href="#"><mat-card class="ServiceCard">
  <p><i class="fa fa-envelope fa-2x" aria-hidden="true"></i> Email Marketing</p>
</mat-card></a>
<a href="#"><mat-card class="ServiceCard">
  <p><i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i> Data Profiling</p>
</mat-card></a>
<a href="#"><mat-card class="ServiceCard">
  <p><i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i> Data Mining</p>
</mat-card></a>
</div>
<div class="row wow fadeInRightBig">
<a href="#"><mat-card class="ServiceCard">
  <p><i class="fa fa-rss fa-2x" aria-hidden="true"></i>  Direct Marketing</p>
</mat-card></a>
<a href="#"><mat-card class="ServiceCard">
  <p><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i> Event Management</p>
</mat-card></a>
<a href="#"><mat-card class="ServiceCard">
  <p><i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i> Corporate Branding</p>
</mat-card></a>
<a href="#"><mat-card class="ServiceCard">
  <p><i class="fa fa-etsy fa-2x" aria-hidden="true"></i> ERP</p>
</mat-card></a>
</div>
</section>