<section class="container">
<h1 class="text-center">ABOUT US</h1>
<h4 class="text-center">Connecting You With The Your Audience Is What We do!</h4>
<p>Lead Generation is an important asset to many businesses, 
  but it also can be time consuming for sales staff. 
  Many companies have their sales staff chase their own leads, 
  more than half their desk time in a day and so most of the time 
  is spent on phone rather than on field meeting prospects and 
  discuss projects to win New Business.Reb Solutions focus is to 
  bridge the gap between the sales team and end user clients, 
  clearing the way for sales staff to spend more time doing what they do best: 
  engaging face-to-face with willing and interested leads. We know the importance of a sale, 
  and the complex nature of sales pipeline, so we take care and ensure that only 
  the best quality leads are generated for each of our clients whilst constantly promoting your organisation.
  As with all of our services, we place great emphasis on working closely with clients in lead generation campaigns. 
  Hence, we are able to ensure the training we provide our staff is of a high standard and the information 
  we pass on to sales targets is accurate. This training is supplemented with ongoing coaching and development of staff. 
  This constant training enables us to improve our standards of work, 
  making your job easier when it comes to closing the deal</p>
  <div class="text-center"><span>Countries We are currently generating leads for our clients include:  India | APAC | USA | Middle East</span><br>
  <span> All with an aim to connect you with your target audience!</span></div>
</section>
